[2014-05-15 14:49] xAockd opened #2 "Messages are built with backslash instead of dot"
[code]

My messages are builе with backslash, and my main key(source) build incorrect.
For correct work I should replace '.' for '\'

[2014-05-20 15:57] #2 closed, assigned to nobody

[2014-09-09 15:16] HarmvZ opened #11 "No support for Laravel 4.2.* ?"

[2014-09-09 18:41] #11 closed, assigned to nobody

[2015-03-19 04:59] rohan-deshpande opened #13 "This is awesome! Any plans for a Laravel 5 compatible version?"
I'm building a Laravel 5 app using React JS and I would really love this to be updated, problem is I'm not too sure what is causing the conflicts, seems like the Illuminate requirements?

[2015-03-19 05:36] rmariuzzo commented on #13
Yes, I suspect the problem is the Illuminate requirements and maybe I will need to update the lang path. I will check on this when I get some time, right now I'm pretty busy.

[2015-03-19 06:05] rohan-deshpande commented on #13
All good, I wrote an interim solution with my own JS and a PHP file that just reads the directory and converts all the arrays to JavaScript objects and then puts then in `js/lang/en/*` works well enough for now!

[2015-03-27 13:17] jisuo commented on #13
Hey, also interested in Laravel 5 support, any news?

[2015-03-27 14:30] rmariuzzo commented on #13
I will start in a few minutes.
On Mar 27, 2015 9:17 AM, "jisuo" <notifications@github.com> wrote:

[2015-03-27 14:56] sboo commented on #13
@rmariuzzo Check this fork from yours https://github.com/xAockd/Laravel-JS-Localization
I made a fork from that and made it compatible. only a few changes were needed.

[2015-03-27 15:17] rmariuzzo commented on #13
Thanks @sboo! Are you willing to make a PR so I can review + merge?

[2015-03-27 15:20] sboo commented on #13
sure thing

[2015-03-27 18:55] rmariuzzo commented on #13
Thanks @sboo for your support and collaboration on this. This package was updated and now it supports Laravel 5.

[2015-03-27 18:55] #13 closed

[2015-06-15 05:57] turzaizsolt opened #16 "Laravel 5.1"
Does this package support laravel 5.1? If so, can you please update the composer.json.

Thnaks.

[2015-06-15 06:11] vluzrmos commented on #16
I think... @rmariuzzo is missing...
My PR was never commented #15

[2015-06-15 14:15] rmariuzzo commented on #16
I have been a little busy these days. I will confirm you in a few minutes.
I'm sorry 🙏
On Jun 15, 2015 2:12 AM, "Vagner Luz do Carmo" <notifications@github.com>
wrote:

[2015-06-15 15:53] rmariuzzo commented on #16
Because the directory structure in Laravel 5.1 is not different than Laravel 5. I assume this package will work just fine. However, I will upgrade a Laravel 5 project to 5.1 and see how it looks.

Thanks @turzaizsolt and @vluzrmos

[2015-06-15 16:58] vluzrmos commented on #16
Yes @rmariuzzo , the structure doesn't change, I belive you just need to change the composer.json
[code]

[2015-06-15 17:12] rmariuzzo commented on #16
That could be a PR from you ;) Never mind, I'm testing right now.

[2015-06-15 17:17] vluzrmos commented on #16
Thanks! ;)

[2015-06-15 17:17] rmariuzzo commented on #16
Thank you too, for pinging me.

Rubens Mariuzzo
rubens@mariuzzo.com

[2015-06-16 02:34] rmariuzzo commented on #16
@turzaizsolt and @vluzrmos I have just released the version 1.2.0 which support Laravel 5.1.x and have working tests.

[2015-06-16 05:45] turzaizsolt commented on #16
Thanks!

[2015-06-16 11:50] #16 closed

[2015-06-28 19:44] okaufmann opened #19 "Call to undefined method: LangJsGenerator::make()"
When I try to run ```php artisan lang:js``` I get the Error in the title.

**Solution:**
The right name of the Method is ```generate()``` not ```make()```
https://github.com/rmariuzzo/Laravel-JS-Localization/blob/master/src/Mariuzzo/LaravelJsLocalization/Generators/LangJsGenerator.php#L41

Accept my Merge Request to fix this.

[2015-06-29 02:08] rmariuzzo commented on #19
Hey @okaufmann! Thanks for spotting this. I will fix it right away!

[2015-06-29 02:50] rmariuzzo commented on #19
Fixed!

[2015-06-29 02:50] #19 closed

[2015-06-29 06:03] okaufmann commented on #19
Hey, you welcome ;) Thanks for your package!

[2015-06-29 17:06] rmariuzzo opened #20 "Separate JS library from Laravel Package"
To simplify the development of this package, I have been thinking on separating the JS library from this Laravel Package. In the end we will have:

 - **rmariuzzo/laravel-js-localization** — The Laravel package.
 - **rmariuzzo/lang-js** — The JS lang library.

What do you think collaborators? @gpopoteur @xAockd @okaufmann

[2015-06-29 17:09] gpopoteur commented on #20
@rmariuzzo it does makes sense, as lang-js has its own API for interacting with the generated lang files

[2015-06-29 17:10] rmariuzzo opened #21 "Move package to "rmariuzzo" instead of "mariuzzo"."
There's one char differences between the repo in GH and the package published in Packagist:

[code]

In the past this lead me to confusion when installing the package via Composer, because I didn't notice the package name is without the `r` in the start.

What do you think collaborators? @gpopoteur @xAockd @okaufmann

[2015-06-29 17:12] rmariuzzo commented on #20
Thanks for your opinion @gpopoteur on this. Definitively, it makes sense to me to have it separated. As you said the JS library has its own API, and also, it can live without the package ;)

As for the Laravel Package, I will include the library as a `git submodule`.

[2015-06-29 19:45] okaufmann commented on #21
So you accidentally have a typo in your composer package name. Do I get this correct?

[2015-06-29 19:49] rmariuzzo commented on #21
That's the problem @okaufmann, the Composer's `composer.json` file is correct because it was published to Packagist without the `r` in the beginning, but the repo in GH have the `r`.

I'm thinking on what will be the impact on adding that `r` everywhere to make it consistent across the source code repo here in GH and the published packaged in Packagist.

[2015-06-29 20:00] okaufmann opened #22 "Tip/Idea: Use gulp to automate localization"
I'm starting a bigger project, so I have a lot to translate.

So I thought, why could we not use gulp to publish this?

And we could:
I used this package to extend gulp:
https://github.com/sun-zheng-an/gulp-shell

and in my gulpfile is use this:

[code]

Maybe it could be mentioned in documentation or is it not useful? what do you think @rmariuzzo?

[2015-06-29 20:05] rmariuzzo commented on #22
@okaufmann Interesting the way you are using this package. I think it would be useful to mention it in the docs or in the wiki. If you are interested edit the `READMED.md` file and make a PR. :)

[2015-06-29 20:08] okaufmann commented on #21
From my own expirience:
If you rename your composer package requests to this will be redirected to the new one for a while.

Can anyone confirm this?

[2015-06-29 20:11] vluzrmos commented on #22
That is cool.
I used that way too, but with Elixir Task:
https://github.com/vluzrmos/lumen-slackin/blob/6e7bbcaae9457f0154dba7ff1f025388f9c08104/gulpfile.js

[2015-06-29 20:14] xAockd commented on #21
Yes, I think adding *r* will be more clear and more intuitive, and protect from confusion in git\packagist

[2015-06-29 20:17] vluzrmos commented on #21
I believe, if you change the "ownership" to that package, it will be changed/redirected on packagist.

[2015-06-29 20:19] okaufmann commented on #22
Okey @vluzrmos, you used the same package as I do but extended elixir instead of run it directly from gulp right?

[2015-06-29 20:28] xAockd commented on #20
It's a good idea, but will be great if the package will have some basic js file, with general functionality. And some mechanism to replace it without any problem. Because in most cases the package covers almost all requirements.

[2015-06-29 20:39] okaufmann commented on #20
I'm with you all as well based on the given arguments!

Seperation would be cool ;)

[2015-06-29 21:24] vluzrmos commented on #22
Yes!

[2015-06-29 21:29] rmariuzzo commented on #22
Definitively, let's add an entry in the docs on how-to use.

[2015-06-29 21:45] okaufmann commented on #22
@rmariuzzo you only have to accept my PR ;)

[2015-06-29 22:13] rmariuzzo commented on #22
https://github.com/rmariuzzo/Laravel-JS-Localization/pull/23

[2015-07-03 13:29] manuel-huez opened #24 "Support Laravel 4.2"
It is said in the README that this library supports Laravel 4.2. However, your composer.json has a laravel dependency of laravel 5, preventing it to run on 4.2.
Is this package not compatible with 4.2 anymore, or is it a typo? I am truly interested in using it.

[2015-07-03 13:38] vluzrmos commented on #24
That is true, all tags supports 4.1, 5.0 and now 5.1.
@rmariuzzo

[2015-07-03 13:43] vluzrmos commented on #24
@manuel-huez you should use that version:

"mariuzzo/laravel-js-localization":"dev-master#242fc0500f633e2817e7e255f0d84b36407ffd73"

[2015-07-03 14:13] manuel-huez commented on #24
This version produces the exact same problem

[2015-07-03 14:33] manuel-huez commented on #24
@rmariuzzo Actually, This version isn't producing the problem, but the way of composer to handle this kind of dependency is. When specifying a specific version, composer is still loading the composer.json from the HEAD, and therefor reading the 5.* dependency.
Would you mind updating the composer.json?

[2015-07-04 00:08] rmariuzzo commented on #24
@manuel-huez thanks for filing an issue about this. Unfortunately, looks like I accidentally broken the support for Laravel 4.2.x with one of my latest commits trying to fix the tests.

**I would like your inputs on this. How should we deal _properly_ with multi-version support?**

I was thinking on using new versioning system that would follow Laravel Framework versions such as:

 - Laravel 4.2 :

[2015-07-04 05:57] vluzrmos commented on #24
I think that isn't necessary. You just need to follow the http://semver.org.

Make a branch to each "major.minor" version. The master branch would be the latest stable version, develop would be ... you know...

Mentions: @rmariuzzo @manuel-huez @gpopoteur @xAockd @okaufmann .

[2015-07-04 06:23] manuel-huez commented on #24
Yup, creating a branch for each stable version tends to be the trend these
days.

On Saturday, July 4, 2015, Vagner Luz do Carmo <notifications@github.com>
wrote:

[2015-07-04 12:52] okaufmann commented on #24
Everything said. It's my opinion too

[2015-07-05 14:36] luismarto commented on #24
If would be nice to provide a version that supports Laravel 4.2 even if it's a quick fix for now. As for versioning, I guess SemVer is the way to go.
Thanks!

[2015-07-05 14:40] manuel-huez commented on #24
Yup, it would be nice if you guys could tag the commit 242fc0500f633e2817e7e255f0d84b36407ffd73. That's really all you need to do :)

[2015-07-05 17:48] rmariuzzo commented on #24
Cool! I will address this in a few hours.
On Jul 5, 2015 10:40 AM, "Manuel Huez" <notifications@github.com> wrote:

[2015-07-12 21:18] ecordani opened #30 "Key messages with '-' or '_' chars"
Hi! I've noticed this strange behaviour with L5.1: if I use a key like 'foo' when I call Lang.has('messages.foo') I get true. But if I use a key like 'foo-bar' or 'foo_bar' the get method returns false.

[2015-07-12 22:18] vluzrmos commented on #30
I can not reproduce this error.
You again generated the javascript file before you try?

What version of that package are you using?

[2015-07-13 12:22] ecordani commented on #30
Hi, the package is the v.1.2.1. I have to investigate more on the issue
because I discovered that also random plain keys (like 'foobar') doesn't
work. I'll create a new project and try the same messages.php files.

Edoardo Cordani
Web & Mobile developer consultant
---------------------------------------------------
E-mail <edoardo.cordani@gmail.com> - Linkedin
<http://it.linkedin.com/pub/edoardo-c

[2015-07-31 21:59] rmariuzzo commented on #30
@ecordani did you get the chance to replicate the issue?

[2015-07-31 23:57] rmariuzzo opened #32 "Development Workflow: branches"
Hey team! I'm thinking on how we should manages versions within our repo. As this package is similar to Laravel, I would consider following [their guide](http://laravel.com/docs/5.1/contributions#which-branch).

We would end up with the following branches:
 - **`master`** — upcoming version.
 - **`5.1`** — Laravel 5.1 compatible version.
 - **`5.0`** — Laravel 5.0 compatible version.
 - **`4.2`**

[2015-08-01 00:33] vluzrmos commented on #32
I think if the branch is not the version of the package, it need to be more explicit in its proposal, like:

**laravel-5.1**
**laravel-5.0**
**laravel-4.2**

I recommend you to use branchs with the package versions, instead of the compatibility with laravel. On readme.md of the master branch should be described which branch is for each laravel version.

[2015-08-01 00:43] rmariuzzo commented on #32
Good one! I like your recommendation.
On Jul 31, 2015 8:33 PM, "Vagner Luz do Carmo" <notifications@github.com>
wrote:

[2015-08-03 22:07] okaufmann commented on #32
Nothing left to say @vluzrmos !

[2015-08-21 19:41] rmariuzzo commented on #20
The day has come when the separation was realised: https://github.com/rmariuzzo/Lang.js

[2015-08-21 19:41] #20 closed

[2015-08-26 17:33] lguichard commented on #30
@rmariuzzo I have same problem with key message index.

For example if i use message.foo_bar method return correct string. But with message.foo.bar method return false

[2015-08-26 17:53] rmariuzzo commented on #30
@lguichard I will take a look on this in a few hours. Thanks for expanding on this issue, [we appreciate](https://github.com/rmariuzzo/Laravel-JS-Localization/graphs/contributors) that.

[2015-08-27 08:07] lguichard commented on #30
@rmariuzzo np ;-)

[2015-09-02 10:18] lguichard commented on #30
@rmariuzzo Did you find a solution ?

[2015-09-14 16:18] rmariuzzo commented on #30
Sorry for the long delay, I have been pretty busy, doctor appointments and relocating. Will create some time this week. Feel free to ping me.
Rubens Mariuzzo
rubens@mariuzzo.com

[2015-09-15 08:27] autaut03 opened #33 "RU localization and Symfony localization"
In laravel I'm using Symfony localization, like this:
"{0}Items|{1}Item|[2,Inf]Items" etc
But your addon doesnt support it. Could u please add support of such things?

[2015-09-25 15:52] ecordani commented on #30
Hi Rubens!
I've updated Laravel to the latest version in my project and now all the translations work as expected.

[2015-11-03 23:04] JapSeyz opened #36 "[Idea]Select which lang files to target"
Hey.

I am only gonna be using a few lang files in my project, so converting them all to JS seems like a bit of an overkill.

It'd be much nicer if I could do something like resources/lang/(All where name == x) etc.

That way I could collect all my langs for JS in a single file.

[2015-11-03 23:07] rmariuzzo commented on #36
Hey @JapSeyz! Thanks for sharing such interesting idea. I agree that if we have hundredth of language lines and we just need a few, it doesn't make sense to convert them all. What could the CLI syntax for this?

[2015-11-03 23:21] JapSeyz commented on #36
Yeah, that'd be perfect.

Will this also take all locales?

[2015-11-03 23:27] rmariuzzo commented on #36
Should be useful to filter locales? I don't think so, but I'm open to listen different opinion on this matter.

[2015-11-03 23:29] JapSeyz commented on #36
I didn't mean filter. I just don't know if it only takes the primary locale, or it takes them all and turns them into JS?

[2015-11-03 23:54] rmariuzzo commented on #36
Then the answer is yes. The command process all available in languages directory.

[2015-11-03 23:56] JapSeyz commented on #36
Ahh, fantastic!

Then my only concern is being able to select a file to process ;)

[2015-11-04 09:49] JapSeyz commented on #36
Let me know if I can help with anything :)

[2015-12-09 09:52] anderssonola opened #37 "Advanced Pluralization issue"
The following is defined in php and is working fine in my blade templates:
`'apple_count' => '{0} :i apples |[1,1] :i apple |[2,Inf] :i apples'`

[code]

Doing the same with JS-Localization, doesn't work as expected, it seams the JS version only supports the 'string1|string2|string3' syntax?
[code]

[2015-12-09 11:49] rmariuzzo commented on #37
Will check today as soon as I can. In q couple of hours.
On Dec 9, 2015 5:52 AM, "Ola Andersson" <notifications@github.com> wrote:

[2015-12-23 15:25] sboo opened #39 "Support Laravel 5.2"
Hi,

Would you mind changing your laravel dependency to 5.1.*|5.2.*? It should work, the changes were not breaking.

Cheers,
Ramon

[2015-12-28 16:10] micheleangioni commented on #39
Hi,
yeah, an update of Laravel version would be highly appreciated!

Thanks

[2015-12-28 17:52] rmariuzzo commented on #39
I will work on this in a couple of mins.
On Dec 28, 2015 12:11 PM, "Michele Angioni" <notifications@github.com>
wrote:

[2015-12-30 12:07] evilangelmd commented on #24
Any progress in this question?

[2016-01-05 09:19] micheleangioni commented on #39
Ehi @rmariuzzo , any news about this?

[2016-01-06 14:26] Bruno-Louvem commented on #24
Any progress in this issue? I'm needing so much of this package, but i use laravel 4.2

[2016-01-06 14:46] rmariuzzo commented on #24
To be honest, I won’t get time until the weekend. I’m sorry to say that, but I don’t want keep saying that I will check it later. This weekend I will definitively work around and take down those issues. Thanks for sharing your interest on this.

[2016-01-11 05:17] bimal72 commented on #39
I really badly need this with Laravel 5.2 - as I have already production site and I wanted to update the same with Laravel 5.2

[2016-01-15 13:51] dieg0v commented on #39
+1

[2016-01-17 17:59] micheleangioni commented on #39
@bimal72 @dieg0v @sboo since I needed this good package for a Laravel 5.2 project of mine and PR are not to be merged, or are merged with not the pace I need, I cloned the repo and created a new project https://github.com/micheleangioni/laravel-js-lang-converter . Of course I highly credit mariuzzo for his work as main contributor of the package. PR and suggestions are welcome

[2016-01-18 02:31] dieg0v commented on #39
hi @micheleangioni ... I think you can use the development branch on composer ... but imho fork option is best in this case, while changes are not merged in new release, you can use your fork as source. I have same problem with laravel 5.2 project and i do that on composer file:

[code]

where my dev-master fork its same as v1.2.1 tag only with **"5.1.\*|5.2.\*"** change.

[2016-01-18 03:05] rmariuzzo commented on #39
@micheleangioni would you like to join force and contribute to it? :smile:

[2016-01-25 16:32] kae0zz commented on #37
Hey there,
ist there any update on this issue? :)

Looks like it's a problem of the standard rules of the choice function:

[code]
Instead of just checking if count > 1, it should consider the given parameter - please see Laravel Pluralization and the possibility to define counts as {0}, {1} and so on. Thanks! :)

[2016-02-04 13:40] bytestream commented on #39
@rmariuzzo would you mind making a new release that includes the most recent commit supporting L 5.2?

[2016-02-09 15:27] prYmea commented on #39
+1

[2016-02-10 11:41] ceo-mint-soft commented on #39
+1

[2016-02-10 12:13] ghost opened #42 "lang.js not found because of git-submodules."
lang.js is not exist.

how can i?

[2016-02-10 16:25] jaumeavila opened #43 "It does not work for files under folder"
If I want to have my translation files for the admin area under en/admin it does now work.
Let's say you have en/admin/blog.php
Then it seems it crashes.

Thanks!

[2016-02-16 11:50] mitaky commented on #39
Any updates on that issue?

[2016-02-19 15:39] josewilsoncc commented on #43
+1 (y) It does not work for files under folder

[2016-02-19 19:05] a-komarev commented on #36
Is this [feature you need](https://github.com/rmariuzzo/Laravel-JS-Localization/pull/44)?

[2016-02-19 19:15] a-komarev commented on #33
@autaut03 This is not this package responsibility. This package only converting Laravel's php files in javascript. But it has [Lang.js library](https://github.com/rmariuzzo/Lang.js) attached as submodule and doing the job you need.

Right now it's working only with couple languages, but I've made [PR in Lang.js to handle pluralization](https://github.com/rmariuzzo/Lang.js/pull/27).

[2016-02-19 19:17] a-komarev commented on #37
You could try test it with [all locales pluralization PR](https://github.com/rmariuzzo/Lang.js/pull/27) if you wish.

[2016-02-19 19:43] a-komarev commented on #42
Same for me... I've [downloaded it from submodule](https://github.com/rmariuzzo/Lang.js) manually and placed in Lang.js in package folder. But it's not production way.

[2016-02-29 13:08] ArtbyArjan commented on #39
Running `composer require mariuzzo/laravel-js-localization`

results in:
[code]

I'm running Laravel v 5.2.22

[2016-03-08 04:01] elminson commented on #42
The path of lang.js is \vendor\mariuzzo\laravel-js-localization\src\js is the same file generate with `php artisan lang:js` but with the difference Lang.setMessages is set with some translations.  I add `    <script type="text/javascript" src="messages.js"></script>` just for test purpose only using console.log

[2016-03-10 02:18] fortranlee commented on #42
The Lang.js submodule is not initialized. What did I miss?
![qq 20160310101537](https://cloud.githubusercontent.com/assets/5966046/13657285/0494b134-e6a9-11e5-9d62-7d222e1e1708.png)

[2016-03-16 04:38] hxshandle commented on #39
+1
I use the the following in composer.json, the install works fine.
` "mariuzzo/laravel-js-localization": "dev-master"`

But when I run
`php artisan lang:js`
I got the following error
`
  [Illuminate\Contracts\Filesystem\FileNotFoundException]
  File does not exist at path /home/vagrant/Code/gym/vendor/mariuzzo/laravel-js-localization/src/Mariuzzo/LaravelJsLocalization/Generators/../../../../Lang

[2016-03-16 21:12] freak3dot commented on #39
+1

[2016-03-31 13:57] Landish commented on #39
+1

[2016-04-13 15:58] dieg0v commented on #42
Same problem here... I temporarily fix this installing Lang.js with bower and then copy to vendor folder with composer:

bower.json:

[code]

composer.json:

[code]

my .bowerrc:
[code]

Hope this help.

[2016-05-06 13:00] hpolonkoev commented on #42
Maybe add an additional step after `composer update` into readme file.
`git submodule init`
`git submodule update`

Source from : http://stackoverflow.com/a/3796947

[2016-07-16 17:07] jartaud commented on #39
composer require mariuzzo/laravel-js-localization "dev-master" --dev

[2016-07-28 17:16] rmariuzzo commented on #42
Seeing all this message, makes me think to revert the idea of using git-submodules. I will do some research before deciding. Any input will be highly appreciated.

[2016-07-28 17:25] rmariuzzo commented on #39
Sorry guys for the eternal delay, [I have been sick](http://gothodgkin.tumblr.com). I will work on fixing this.

[2016-07-28 17:25] rmariuzzo commented on #39
Any PR are more than welcome!

[2016-07-28 17:28] #22 closed

[2016-07-28 17:29] #30 closed

[2016-07-28 17:37] rmariuzzo commented on #37
The fix contributed by @a-komarev was merged into `develop` branch. This will be shipped in v1.1.0 soon.

[2016-07-28 20:45] a-komarev commented on #43
I have language file: `lang/en/forum/thread.php`

Right now generator is making an object:

[code]

So we should implement object nesting for directories in generator and an issue will be solved.

[code]

[2016-07-28 21:00] a-komarev commented on #43
My bad. Laravel is working not as expected, API then should be: `get('forum/thread.allThreads')` and that will be easier to implement on javascript side.

[2016-07-28 21:19] a-komarev commented on #43
Another solution is generate messages like:

[code]

[2016-07-28 22:45] jartaud commented on #39
@rmariuzzo The pain that you've been feeling, can't compare to the joy that's coming.

[2016-07-28 22:56] a-komarev opened #49 "Exclude\Include files and translation keys"
It's a meta issue to cover and discuss the concept of generator file registry.

### Implemented

**Include all keys from `validation.php` files. #47**

[code]

**Include all keys in `forum/post.php` files. #48**

[code]

### Not implemented

**Include `"accepted"` key from `validation.php` files.**

[code]

**Include `"author"` key from `forum/post.php` files.**

[code]

**Recursively include all

[2016-07-29 23:55] rmariuzzo commented on #24
Working on this right now!

[2016-08-17 09:37] Chalkin commented on #39
I'm using Laravel 5.2.43

When I do `composer require mariuzzo/laravel-js-localization` I get:

`Using version ^1.2 for mariuzzo/laravel-js-localization
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - mariuzzo/laravel-js

[2016-08-17 11:51] a-komarev commented on #39
@Chalkin Last stable version isn't support L5.2. You can can try `dev-master` if you want.

[2016-08-21 08:38] Chalkin commented on #39
Like I wrote on the bottom, when i try dev-master I get the same error like hxshadle does.

[2016-08-22 03:27] jartaud commented on #39
`"require-dev":` {
        "mariuzzo/laravel-js-localization": "dev-master"
 }

"scripts": {
        "post-update-cmd": [
            "cp -R resources/assets/bower/lang.js/ vendor/mariuzzo/laravel-js-localization/Lang.js/",
            "php artisan lang:js resources/assets/js/compiled/laravel.lang.js"
          ]
    },`

[2016-08-23 20:14] rmariuzzo commented on #42
This will be released in [v1.3.0](https://github.com/rmariuzzo/Laravel-JS-Localization/milestone/1).

[2016-08-23 20:14] #42 closed

[2016-08-23 20:38] rmariuzzo commented on #32
Hey @a-komarev! What do you think on having branches per Laravel versions? Do you think it is necessary?

[2016-08-24 02:52] rmariuzzo commented on #42
@a-komarev, @hpolonkoev I was playing with Composer scripts and just noticed this:

Unfortunately, composer script is not a production option. I still want for the user to be able to just do: `composer require mariuzzo/laravel-js-localization:x.y.z` and done.

I'm thinking that I will manually put the `lang.js` file manually into the `lib/` directory and done. Just for the sake to release the 1.3.

[2016-08-24 03:38] rmariuzzo opened #52 "Update documentation"
The `README.md` needs to match current and upcoming changes in [v1.3.0](https://github.com/rmariuzzo/Laravel-JS-Localization/milestone/1).

 - We should definitively remove the Lang.js documentation and instead refer to it with a link.

[2016-08-24 08:23] a-komarev commented on #32
@rmariuzzo It's not a bad idea, I'll write some thoughts related to this way.

In my vision there is a need to create separate branch for each concrete Laravel version if there is no way to support it in current one or if it will bring a lot of hacks to work both ways. For example if you need to support Laravel 4.x it's good idea to hold it separately, because there were a lot of changes in API an

[2016-08-24 15:15] rmariuzzo commented on #32
@a-komarev I appreciate your thoughts on this. I agree with you in all points:

 - Support Laravel 5 version in `master` branch, since the API doesn't change too much.
 - Support Laravel 4 version in a `laravel-4` branch.
 - Use `laravel-` prefix to avoid confusion with package versions.

For `laravel-js-localization` package the main differences between Laravel 4 and Laravel 5 is the default loca

[2016-08-25 03:12] #43 closed

[2016-08-25 03:13] rmariuzzo commented on #39
We are aiming to release version [1.3.0](https://github.com/rmariuzzo/Laravel-JS-Localization/milestone/1) this week along with this issue _finally_ fixed.

[2016-08-25 03:13] #39 closed

[2016-08-25 03:14] rmariuzzo commented on #24
This will be released this week under [v1.3.0](https://github.com/rmariuzzo/Laravel-JS-Localization/milestone/1).

[2016-08-25 03:14] #24 closed

[2016-08-25 03:15] rmariuzzo commented on #21
I will close this issue because there's no user complaining about this. If it becomes an issue then we will reconsider it.

[2016-08-25 03:15] #21 closed

[2016-08-25 03:17] #49 closed

[2016-08-25 03:19] rmariuzzo commented on #36
Hey @JapSeyz! We just merged the ability to choose which files to be processed.

[2016-08-25 03:19] #36 closed

[2016-08-25 03:20] rmariuzzo commented on #32
@a-komarev as you pointed, there's no need to have separate branches. We will still follow the Branch workflow using `master` and `develop`.

[2016-08-25 03:20] #32 closed

[2016-08-25 07:20] a-komarev commented on #33
I'm closing this issue because PR is merged already.

[2016-08-25 07:20] #33 closed

[2016-08-25 10:39] rmariuzzo commented on #33
Thank you

On Aug 25, 2016 3:20 AM, "Pe Ell" <notifications@github.com> wrote:

[2016-08-26 05:51] #37 closed

[2016-08-27 02:23] #52 closed

[2016-08-27 15:41] ksdev-pl opened #57 "Uncaught TypeError: Lang.setMessages is not a function"
Hi

I've installed the v.1.3.0 in the Laravel 5.3, generated the lang file:
[code]
added the file to my template:
[code]
and I'm getting an error in the Chrome 52 console:
[code]
This is my lang.js file:
[code]
I cannot find the reason of the console error. Do you know what it is?

Thanks for your work.

[2016-08-27 15:50] rmariuzzo commented on #57
Thanks, I will check right away.

On Aug 27, 2016 11:41 AM, "KS" <notifications@github.com> wrote:

Hi

I've installed the v.1.3.0 in the Laravel 5.3, generated the lang file:

php artisan lang:js public/js/lang.js

added the file to my template:

...
<script src="{{ url('/js/lang.js') }}"></script>
<script src="{{ url('/js/webapp.js') }}"></script>

</body>
</html>

and I'm getting an error in th

[2016-08-27 17:35] rmariuzzo commented on #57
Fixed with 5f57774b5381d2dcdf770d26aeb236069b05765c. Please, try again with:

[code]

[2016-08-27 17:35] #57 closed

[2016-08-27 17:37] ksdev-pl commented on #57
Works great, thank you very much!

[2016-08-27 17:42] rmariuzzo commented on #57
Thanks you @ksdev-pl! I appreciate your time and quick response!

[2016-08-27 23:25] a-komarev commented on #57
This was fast :+1:

[2016-08-28 03:58] rmariuzzo commented on #57
I hope to keep that pace.

[2016-09-05 06:55] hiendv opened #58 "Lang is not defined"
Actually, it doesn't. Although I did `npm install lang.js`, the following code doesn't work.

`messages.js:108 Lang = new Lang();`

[code]
Composer
[code]

[2016-09-05 11:44] michalkozikcombc opened #59 "Feature: Default location of generated JS file"
Maybe there should be some option to define default location of messages.js file?
For example if someone want to have it in `public/js/messages.js`, he has to provide every time this localization in `php artisan lang:js`

[2016-09-05 12:27] rmariuzzo commented on #59
I think this a good idea. I consider the configuration file to be the right
place or that. What do you think?

On Sep 5, 2016 7:44 AM, "Michał Kozik" <notifications@github.com> wrote:

[2016-09-05 12:30] rmariuzzo commented on #58
Hi!

I appreciate all the useful details. I will review it later today once I
get home (I'm out for health test).

On Sep 5, 2016 2:55 AM, "Hiển Đào Vinh" <notifications@github.com> wrote:

[2016-09-05 12:33] hiendv commented on #58
Just take your time and rest up ;)

[2016-09-05 12:34] rmariuzzo commented on #58
Thanks, hopefully today I will be provided a fix or at least an answer for
this.

On Sep 5, 2016 8:33 AM, "Hiển Đào Vinh" <notifications@github.com> wrote:

[2016-09-06 15:56] rmariuzzo commented on #58
Hey @hiendv! I think this issue should be filed in the repo rmariuzzo/Lang.js instead.

[2016-09-06 16:02] rmariuzzo commented on #58
@hiendv Can you post the contents of `./messages.js` ? Or at least the affected line (108).

[2016-09-06 16:47] rmariuzzo commented on #59
@michalkozikcombc  just a heads up! As this is not a bug but more a feature, I will work toward releasing it this week.

[2016-09-10 09:10] edgarsn opened #60 "Take current locale from html "lang" attribute"
It would be cool, if JS plugin would take current locale from HTML "lang" attribute. And if developer needs, he can call Lang.setLocale to override.

[2016-09-10 16:05] a-komarev commented on #60
@edgarsn interesting proposal. @rmariuzzo what do you think about it?

PRs are welcomed :}

[2016-09-11 22:02] rmariuzzo commented on #60
I think this could be fine if we will always aim the browser. Otherwise, if the generated library is used in other environment, I think this feature will be a little too env-specific.

Also, I understand that's very simple to make this in one line.

[code]

I will keep this issue open so we can discuss it and see what could be done.

[2016-09-11 22:03] rmariuzzo commented on #58
@hiendv I was thinking on this issue again. Are you trying to use the lib in a node env?

[2016-09-12 01:05] hiendv commented on #58
Sorry @rmariuzzo for the lack of response. I've been busy. Actually I was using the lib with Laravel Elixir.

[2016-09-12 11:09] rmariuzzo commented on #58
Ok, that's enough for me to work.

On Sep 11, 2016 9:05 PM, "Hiển Đào Vinh" <notifications@github.com> wrote:

[2016-10-16 12:44] mendrinos commented on #60
+1 from my side for this.

Main reason, I don't want to have on my header:

`<script type="text/javascript">
	Lang.setLocale('{{App::getLocale()}}');
</script>`

I think everyone nowadays is having the locale defined on the html tag:

`<html lang="{{App::getLocale()}}">`

So why not to pick it up directly from there? and indeed if the user needs to override it then he should be able to..

Looking

[2016-10-16 15:02] rmariuzzo commented on #60
I agree this should be added as a feature. @mendrinos can you create an issue directly to the JS library repo instead?

**[New Issue @ Lang.js](https://github.com/rmariuzzo/Lang.js/issues/new)**

---

I will keep this issue open to track when this feature is available in both the JS and Laravel libs.

[2016-10-16 15:10] rmariuzzo commented on #58
This will be addressed today. Follow progress here: https://github.com/rmariuzzo/Lang.js/issues/33

[2016-10-16 15:10] #58 closed

[2016-10-18 07:40] kaidoj opened #63 "ReferenceError: Lang is not defined Lang = new Lang();"
Sill having this issue after update using laravel, laravel elixir webpack. Am i doing something wrong?

gulpfile looks like this
[code]
Then i tryed even import Lang from translations.js in my component without having translations included in gulp file. Both cases same issue.
[code]

[2016-10-19 09:47] audunru commented on #63
Having similar problems.

gulpfile essentials:

`mix.browserify('app.js');`

app.js:

`require('./language.js');`

Browser:

Uncaught TypeError: Lang is not a constructor

It throws the exception at line 2 here (from language.js):

[code]

[2016-10-19 12:55] rmariuzzo commented on #63
Will check today.

On Oct 19, 2016 5:48 AM, "Audun Rundberg" <notifications@github.com> wrote:

[2016-10-20 07:34] audunru commented on #63
OK, thanks. Browserify/Webpack is quite new to me so I tried different variations of require, import, etc, but basically I think me and @kaidoj both would like to combine everything into one JS file.

[2016-10-21 20:10] rmariuzzo commented on #63
I'm so sorry, I didn't had the time to check this issue. Will check for sure this weekend. I think I have all the info necessary to reproduce a release a fix.

[2016-10-25 10:27] zgabievi opened #64 "Lang.choice not working correctly"
`en/site.php`
[code]

`JS Console`
[code]

**Output:** "0 View"

[code]

**Output:** "No Views"

[code]

**Output:** "2 View"

[2016-10-26 22:10] rmariuzzo commented on #64
I have reproduced this issue successfully with the info you provided @zgabievi. I'm working on a fix to be hot released.

[2016-10-27 02:28] rmariuzzo commented on #64
I have released a hot fix on rmariuzzo/Lang.js repository: https://github.com/rmariuzzo/Lang.js/releases/tag/v1.1.4

I will update this one shortly.

[2016-10-27 02:33] rmariuzzo commented on #64
Released: https://github.com/rmariuzzo/Laravel-JS-Localization/releases/tag/v1.3.3

Happy coding @zgabievi !

[2016-10-27 02:33] #64 closed

[2016-10-27 02:34] rmariuzzo commented on #60
Good news! This was released recently: https://github.com/rmariuzzo/Laravel-JS-Localization/releases/tag/v1.3.3

[2016-10-27 02:34] #60 closed

[2016-10-27 04:56] zgabievi commented on #64
Nice work! 👌 Thanks

[2016-10-28 14:02] arrilot commented on #63
Any updates on this?

[2016-10-28 14:10] rmariuzzo commented on #63
I will check on this again this weekend. Today, I'm in the hospital for the
last chemo.

On Oct 28, 2016 10:05 AM, "Nekrasov Ilya" <notifications@github.com> wrote:

[2016-10-28 15:54] olelis opened #65 "Does not work on windows"
Hello, there are small bug in the code.

Problem is that on windows directory separator is "\" instead of "/".

That means, that following code you have won't work:

\Mariuzzo\LaravelJsLocalization\Generators\LangJsGenerator::isMessagesExcluded

[code]

Please, fix it so it will work on windows too.

Easy fix would be to add following replace:
`$filePath = str_replace(DIRECTORY_SEPARATOR,'/',$file

[2016-10-28 17:28] rmariuzzo commented on #65
Perfect, I will check on it this weekend. I'm in the hospital right now for
a scheduled chemo.

On Oct 28, 2016 11:55 AM, "Oleg" <notifications@github.com> wrote:

[2016-10-28 18:47] a-komarev commented on #65
@rmariuzzo I will check the code ASAP. That's my fault :}

[2016-10-28 19:12] a-komarev commented on #65
Solution is published, but I don't have any Windows machines to test it. Help required :sos:

[2016-10-30 15:06] oliski commented on #65
I cqn check ok monday

On 28 Oct 2016 22:12, "Pe Ell" <notifications@github.com> wrote:

[2016-10-31 10:44] olelis commented on #65
Nope, does not work.

Here is the link to my pull request: https://github.com/rmariuzzo/Laravel-JS-Localization/pull/67

[2016-11-15 15:35] rmariuzzo commented on #65
I'm configuring a Windows image to test this and release if it looks good.

[2016-11-15 17:05] rmariuzzo commented on #65
I'm still working on it. It is a pain to setup the env in Windows... 😞

[2016-11-15 17:17] rmariuzzo commented on #65
I partially run the test on Windows, because there were a bunch of edge cases that are like rabbit holes that goes deeper and deeper. Not directly related to this lib, but because of the dependencies on Windows.

[2016-11-15 17:37] rmariuzzo commented on #65
Released: https://github.com/rmariuzzo/Laravel-JS-Localization/releases/tag/v1.3.4

[2016-11-15 17:37] #65 closed

[2016-11-15 17:38] rmariuzzo commented on #63
Will address a fix this week.

[2016-11-15 20:22] werdlv opened #68 "Update Lang.js submodule reference"
Issue [#39](https://github.com/rmariuzzo/Lang.js/issues/39) on [Lang.js](https://github.com/rmariuzzo/Lang.js) was fixed and therefore this repo's submodule reference should be updated as well to fix the issue for this library users.

[2016-11-15 21:47] rmariuzzo commented on #68
Working on this.

[2016-11-15 22:32] rmariuzzo commented on #68
Fixed and released! https://github.com/rmariuzzo/Laravel-JS-Localization/releases/tag/v1.3.5

[2016-11-15 22:32] #68 closed

[2016-11-16 21:43] kwiqadmin opened #69 "artisan command not working"
I have installed it on a laravel project. But I don’t get the artisan command to work. I always get:  [Symfony\Component\Console\Exception\CommandNotFoundException]
  There are no commands defined in the "lang" namespace.

[2016-11-16 21:44] rmariuzzo commented on #69
Hey @kwiqadmin!

Thanks for your time on file an issue. What is the command you are typing?

[2016-11-16 21:50] kwiqadmin commented on #69
I already found the solution:
I had to do:
`php artisan config:clear`

now php artisan lang:js works again. Thanks anyway :)

[2016-11-16 21:50] #69 closed

[2016-11-16 22:16] rmariuzzo commented on #69
Cool! Happy coding @kwiqadmin !

[2016-11-17 08:51] KwiqAndre opened #70 "Feature: Ability to specify path in configuration file"
Sometime the language files can get very big. I usually create language files for each page. To avoid that all other language strings (from other pages) get loaded it would be cool, if I could specify via elixir by parameter which language files should be pulled, so that i can create a language js file for each page. The loading overhead can be reduced that way.

[2016-11-17 12:24] a-komarev commented on #70
#49 Is this what you need? Or you want to dynamically load translations files on page loading?

[2016-11-17 13:24] KwiqAndre commented on #70
Yes, thats what I need, only with include.

[2016-11-17 13:25] rmariuzzo commented on #70
All good then @KwiqAndre ?

[2016-11-17 21:35] kwiqadmin commented on #70
this is not in your current version, or am I wrong?
I have to fork it?

[2016-11-17 21:37] a-komarev commented on #70
@kwiqadmin it's in current version. See #47  #48

[2016-11-17 22:11] kwiqadmin commented on #70
artisan lang:js -e auth

  [Symfony\Component\Console\Exception\RuntimeException]
  The "-e" option does not exist.

[2016-11-17 22:14] a-komarev commented on #70
Manual exclusion is not implemented. You can define what files should be included in config file. Look for `messages` array key.

[2016-11-17 23:18] kwiqadmin commented on #70
I know that. but the config file is not enough. I need something, that I can create lang js files for individual pages. Right now I can have only one configuration. I want to use elixir to create several lang js files, each with another configuration.

[2016-11-17 23:20] a-komarev commented on #70
@kwiqadmin Feel free to make a PR for the elixir which will do the job. This isn't implemented.

[2016-11-18 09:47] KwiqAndre commented on #70
PR? I am pretty new to all that stuff (laravel, elexir ...)

[2016-11-21 13:58] a-komarev commented on #70
@KwiqAndre Pull Request in GitHub.

What sizes of language files do you have that you decided to split them that way?

[2016-11-30 21:46] veksen commented on #63
Stopped me from using it. Any attempt at using it globally, or requiering through `require()` or `import` didn't work.

[2016-11-30 21:46] rmariuzzo commented on #63
Hey @veksen! Via browser of node env?

[2016-12-01 22:29] rtheunissen commented on #70
@a-komarev the size of the file isn't really relevant here - the fact that you are loading resources that you don't need is what's important. Let's say I have 2000 messages in 20 different languages. That's a lot of string data that I would only need at most 5% of in most cases.

A good solution for this is to not compile *all* the messages into a single javascript file. Instead, you should create

[2016-12-01 22:48] rtheunissen commented on #70
Actually, why not in config have a locale filter? Eg

[code]

[2016-12-01 23:56] rtheunissen commented on #59
This would be very handy. Would this be as simple as a configuration for `path` as part of the config?

[2016-12-04 01:15] a-komarev commented on #59
I like the idea but i think that `output_path` or `output_file` would be more explicit and intuitive.

[2016-12-04 01:18] a-komarev opened #74 "Bug: Unit tests doesn't run for Laravel 4.2 + <=PHP 5.6"
At the end of unit tests you [can see](https://travis-ci.org/rmariuzzo/Laravel-JS-Localization/jobs/181049343):

[code]

I suppose that it's `bash` syntax while CI using common `sh`.

[2016-12-05 17:21] rmariuzzo commented on #74
Good catch @a-komarev! Didn't noticed this.

[2016-12-06 22:05] topclaudy opened #75 "There are no commands defined in the "lang" namespace."
Running "php artisan lang:js" after installation results in "There are no commands defined in the "lang" namespace." in Laravel 5.3

[2016-12-06 22:11] rmariuzzo commented on #75
Hey @topclaudy! Did you add this service provider: `Mariuzzo\LaravelJsLocalization\LaravelJsLocalizationServiceProvider::class` in your `app/config.php` file?

[2016-12-06 22:13] topclaudy commented on #75
@rmariuzzo Yes I added it after installation.

[2016-12-06 22:31] rmariuzzo commented on #75
That's weird, try running: `php artisan clear-compiled` and rerun the command. If it fails, please give details of you Laravel installation (version, os).

[2016-12-06 22:49] topclaudy commented on #75
The issue persists after running `php artisan clear-compiled`. I'm running Laravel 5.3.26 on macOS Sierra. I also noticed that the command `php artisan vendor:publish --provider="Mariuzzo\LaravelJsLocalization\LaravelJsLocalizationServiceProvider"` doesn't publish any configuration file (Nothing to publish for tag []).

[2016-12-12 03:29] rtheunissen commented on #59
Can we get this released please? ✨

[2016-12-12 04:45] rmariuzzo commented on #59
I will check that tomorrow and let you know.

On Dec 11, 2016 11:29 PM, "Rudi Theunissen" <notifications@github.com>
wrote:

[2016-12-12 10:46] 21110027781 opened #77 "The best way to display variable to html without delay by load file .js"
Hi all,

I need print variable message to template html without delay.
Can use angularjs or javascript.

Thanks,

[2016-12-12 14:58] a-komarev commented on #77
@21110027781 What do you mean by "without delay"?

Read [Lang.js documentation](https://github.com/rmariuzzo/Laravel-JS-Localization#documentation) to find how to get translations from javascript.

[2016-12-13 02:27] 21110027781 commented on #77
I understand. Thanks for your support :)

[2016-12-13 03:49] rmariuzzo commented on #74
Hey @a-komarev! Looks there's a way to better organize our tests.

[2016-12-13 04:00] a-komarev commented on #74
@rmariuzzo interesting features of PHPUnit, didn't knew about them.

[2016-12-13 14:48] rmariuzzo commented on #74
I'm checking this right now and see if we can make a release with recent merges.

[2016-12-29 00:24] ardani opened #79 "Feature: Optionally include JS library within generated file"
Hi @rmariuzzo ,
this is great package, very usefull, i try this for my project now.
i have a problem , how to include result generate lang.js to webpack?
i try using this code but error
[code]
error message `Uncaught ReferenceError: Lang is not defined`
any solution for me?
thanks

[2016-12-29 03:59] rmariuzzo commented on #79
If you run this:

[code]

What does it print?

[2016-12-29 04:21] ardani commented on #79
if use
[code]
it work, but if i use import file message.js from generate `php artisan lang:js` and import it on file js error if compile using webpack show error `Lang is not defined`

[2016-12-29 04:58] ardani commented on #79
for now i modified with add option in command `--message-only` and template `only_messages.js` like this
[#41199f8](https://github.com/ardani/Laravel-JS-Localization/commit/41199f801413ef98a93ef7f8af9f0c9d909871e2)

[2016-12-29 13:04] rmariuzzo commented on #79
@ardani this looks great! What do you think @vluzrmos @a-komarev @gpopoteur about providing the option for generating the messages without the lib integrated? I think that proposal is pragmatic.

[2016-12-29 21:09] a-komarev commented on #79
@rmariuzzo I think this could be useful feature.

[2016-12-29 21:17] rmariuzzo commented on #79
@a-komarev I also share the same feeling on this. However, I would suggest to use another parameter name such as:

[code]

What do you think @a-komarev ?

[2016-12-29 21:27] a-komarev commented on #79
@rmariuzzo Good one!

[2016-12-29 21:46] rmariuzzo commented on #79
Hey @ardani! Could you create a PR to `develop` branch with your changes + [my comments](https://github.com/rmariuzzo/Laravel-JS-Localization/issues/79#issuecomment-269694837)?

[2016-12-29 23:37] ardani commented on #79
Ok @rmariuzzo

[2017-01-04 18:53] tobia commented on #63
I have the same problem.

This is my gulpfile:

[code]

It works like this:

- I tell Elixir to watch the PHP language files;
- when any of them changes, it runs `lang:js` into a hidden file in the `resources/assets/js` directory, so that it has a fixed name but is not tracked by Git;
- then I run Browserify on my application JS, which includes the generated file into the build and gives it a loca

[2017-01-04 18:55] rmariuzzo commented on #63
Hey @tobia! Thanks for details. Can you prepare a PR for this? This week I'm a little bit tight.

[2017-01-05 22:42] #77 closed

[2017-01-07 20:05] rmariuzzo commented on #75
Hey @topclaudy! Sorry for the long delay. Did you solved this?

[2017-01-18 09:53] tenaciousd93 commented on #75
Same problem here! `Laraval 5.3` with  `mariuzzo/laravel-js-localization` v1.3.

To solve `php artisan clear-compiled` fail I ran `composer remove mariuzzo/laravel-js-localization`, and went to `bootstrap/cache/config.php` and removed the line `Mariuzzo\LaravelJsLocalization\LaravelJsLocalizationServiceProvider` in **providers** array.

Clean all with `composer clear` and `php artisan clear-compil

[2017-01-23 14:59] fsasvari opened #82 "Feature: add default and fallback locale in config file"
I have suggestion for setting locale and fallback locale in "localization-js.php" config file.

The problem is with generated .js file. Lang.setLocale() and Lang.setFallback() is not provided so I need to include it manually on all pages where I'm using Lang JS.

Is there any options to generate JS file with already set locale and fallback ?

[2017-01-23 17:11] rmariuzzo commented on #82
No, currently there's no way the default and fallback locale to be included in the generated file. However, the default local in the lang.js library is `en` (https://github.com/rmariuzzo/Lang.js/blob/0512672395589614d895d6ca0e96eee41f24dcc7/src/lang.js#L49).

[2017-01-23 18:26] fsasvari commented on #82
Yes, it will be nice to change it from this package. Language array files are being generated and it will be great to generate following in template file (https://github.com/rmariuzzo/Laravel-JS-Localization/blob/master/src/Mariuzzo/LaravelJsLocalization/Generators/Templates/langjs_with_messages.js):

[code]

If provided.

[2017-01-23 19:34] rmariuzzo commented on #82
@fsasvari got it. Any comment @a-komarev ?

[2017-01-23 20:16] a-komarev commented on #82
You want to add just setters at the end?

[code]

It will be added all the time or by using some special key on generate command?

[2017-01-23 20:18] rmariuzzo commented on #82
@a-komarev I think it could be added all the time, with default if not set. I'm toward adding it all the time because it would be clear for the users.

[2017-01-23 20:21] a-komarev commented on #59
@rmariuzzo ping :}

[2017-01-23 20:23] a-komarev commented on #82
Seems good to me.

[2017-01-28 15:50] gerciljunio opened #84 "Laravel 5.4"
Hello, do you have any plans to adapt to laravel 5.4? I was updating my system and found an error in [LaravelJsLocalizationServiceProvider.php](https://github.com/rmariuzzo/Laravel-JS-Localization/blob/master/src/Mariuzzo/LaravelJsLocalization/LaravelJsLocalizationServiceProvider.php) on line [67](https://github.com/rmariuzzo/Laravel-JS-Localization/blob/master/src/Mariuzzo/LaravelJsLocalization/L

[2017-01-28 17:57] rmariuzzo commented on #84
Hey @gerciljunio! Yes, there's a pending PR for 5.4 support, I will do my best to merge today or by tomorrow.

[2017-01-30 00:13] FFXV opened #85 "Initialization Explanation"
Hi!

I have successfully created the messages.js file.

Now I want to use it. However, "Lang" is not recognized.
E.g., if I take from the documentation the following (not even using messages.js):

[code]

.. I cannot get any output. Actually the script stops there. I guess, I have make an import or something similar.

Thanks for any help!

[2017-01-31 22:42] joelcuevas commented on #84
How about supporting the new json files?

https://laravel.com/docs/5.4/localization#using-translation-strings-as-keys

[2017-02-01 07:31] a-komarev commented on #84
@joelcuevas this planned for future releases.

[2017-02-01 12:14] rmariuzzo commented on #84
@gerciljunio I have merged this: https://github.com/rmariuzzo/Laravel-JS-Localization/pull/83 which add Laravel 5.4 support. I'm now writing proper tests that match Laravel 5.4. If it all works, I'm releasing it today.

[2017-02-01 13:52] rmariuzzo opened #86 "Laravel 5.4 tests"
Add tests against Laravel 5.4

[2017-02-01 14:02] rmariuzzo commented on #84
Quick update: I'm tracking the addition of Laravel 5.4 tests here: https://github.com/rmariuzzo/Laravel-JS-Localization/issues/86

[2017-02-01 15:39] #86 closed

[2017-02-01 15:44] #84 closed

[2017-02-01 15:45] #79 closed

[2017-02-01 15:49] #74 closed

[2017-02-01 15:51] #70 closed

[2017-02-01 15:51] #59 closed

[2017-02-01 16:01] rmariuzzo commented on #85
@FFXV this could be related to https://github.com/rmariuzzo/Laravel-JS-Localization/issues/63

How are you consuming the generated JS?

[2017-02-01 17:24] manticorp opened #88 "composer test-install?"
What is composer test-install ? and composer test? (referenced in ReadMe)

[2017-02-01 17:47] rmariuzzo commented on #88
@manticorp

`composer run test-install` is the command to install all dependencies to run the tests. And `composer run test` is the command to actually run the tests.

[2017-02-01 19:52] a-komarev commented on #88
@manticorp this done because package testing not only latest supported laravel, but each previous verions.

[2017-02-01 22:58] rmariuzzo commented on #88
Closing this since it is not an issue.

[2017-02-01 22:58] #88 closed

[2017-02-02 08:47] manticorp commented on #88
Ah right I see, sorry I'm a bit embarrassed now - I didn't think to check the scripts in the composer.json file!

[2017-02-02 13:25] rmariuzzo commented on #88
@manticorp all good mate!

[2017-02-24 11:53] adl1995 opened #89 "Using 'Lang' class with Vue.js"
It so happens that I can't import the 'Lang' class in my Vue component; I receive a _ReferenceError_. Any help would be appreciated.

[2017-02-24 14:39] rmariuzzo commented on #89
This is related to how the template is defined. I think this is related to another existing issue. I will check it later, since I'm in the hospital right now.

[2017-02-24 17:16] rmariuzzo commented on #89
This one will be deal with #63

[2017-02-24 17:19] rmariuzzo commented on #75
I will close this one for now, because I couldn't reproduce this issue. If it happens again, I will open it including more details.

[2017-02-24 17:19] #75 closed

[2017-02-26 11:10] FFXV commented on #85
var lang = new Lang({
    messages: '/public/messages.js',
    locale: 'en',
});

This is in my java script. Now, the browser console says "ReferenceError: Lang is not defined".

[2017-02-26 11:12] FFXV commented on #85
The same with the code I posted some weeks ago. Sorry, I moved.

[2017-02-28 16:31] SwiTool commented on #63
Is it still under development ? I'm having trouble with require also.. I'm using Webpack.

error: `Uncaught ReferenceError: Lang is not defined` at `Lang = new Lang()`

[2017-02-28 21:26] rmariuzzo commented on #63
Yes, I started doing some tests last weekend. I will keep you all posted in this thread within the next 24hrs.

[2017-03-02 19:33] rmariuzzo commented on #63
@SwiTool I'm checking this right now, will post progress shortly.

[2017-03-02 21:04] SwiTool commented on #63
@rmariuzzo Hey, take your time.
Hope you are okay with those events .. :)

[2017-03-03 12:50] evilangelmd opened #90 "Problems for laravel 4"
Hello. i have some problems when i updated package. I use laravel 4, and when i tried to generate javascript.js file, using:
`php artisan lang:js`
i had an error:

I am not sure, but maybe this depends on line 69 of LaravelJsLocalizationServiceProvider.php file...

[2017-03-03 18:31] rmariuzzo commented on #90
Hey @evilangelmd!

I will ask something simple, does this path `/Users/apple/Documents/project/laravel/resources/lang` exist?

[2017-03-06 09:16] evilangelmd commented on #90
no, on L4 the path is: /Users/apple/Documents/project/laravel/app/lang
on L5 path was changed to resources/lang but in L4 was app/lang
![screen shot 2017-03-06 at 10 15 09](https://cloud.githubusercontent.com/assets/6436504/23603520/e0ca84d0-0255-11e7-8208-fbf0dc5677c2.png)

[2017-03-06 10:25] evilangelmd commented on #90
infact this bug was even in 1.2.0 that i use till last week, but when i used for first time, i had deadlines near, so i maked a fork and made it compatible with L4 exclusively, After that project i forgot it till last week when project manager wanted to update L4.

[2017-03-07 17:37] rmariuzzo commented on #63
Quick update, this will be implemented on v2 because it will represent a breaking change. I'm thinking that it will more useful if this package doesn't include the JS library. So the latter will fix this issue properly.

[2017-03-08 08:18] audunru commented on #63
Thanks for the update. My current solution is to stop trying to use `import` and `require` (as the whole issue is that doesn't work), but instead generate the language.js and combine it with my browserified app.js using `mix.scripts`

That solves my original issue, which was that I wanted to have just one app.js file with everything included.

Here's my gulpfile.js, I've included some comments. Pe

[2017-03-10 14:22] clentfort opened #92 "Find Missing Translations"
Hi, I'm currently writing a tool that will help to find missing translations in the JavaScript-files. Just letting you know, https://github.com/clentfort/laravel-find-js-localizations. :) Would appreciate feedback.

[2017-03-12 04:39] jjdrake opened #94 "Consider updating README with Laravel 5.4 lang file generation steps"
I'm currently working with Laravel 5.4 which uses the new Laravel Mix package by default and removes support for Gulp/Elixir.  In order to generate the language file automatically during asset compilation I took the following steps:

1. Add "[webpack-shell-plugin](https://www.npmjs.com/package/webpack-shell-plugin)" (I'm currently using version "0.3.5") to package.json's "devDependencies" section.

[2017-03-14 13:38] rmariuzzo commented on #94
Awesome @jjdrake! Can you create PR adding this?

[2017-03-17 11:16] evilangelmd commented on #90
And another think, it is possible to do for L4 min php version >=5.4.0 ?

[2017-03-22 00:14] rtheunissen opened #97 "Message keys of generated file is not consistent"
We're facing a problem where we version assets based on their content to improve caching. We're compiling on 4 different servers that sit behind a load balancer. Unfortunately, the version hashes of the lang.js files are sometimes different from one server to the next, resulting in 404's if the page and the asset are loaded from different servers.

The reason for this is because the ordering of th

[2017-03-22 01:23] a-komarev commented on #97
@rtheunissen Why it will fix the issue? If you haven't changed anything and re-generate js file - ordering will be the same without sort, isn't it?

[2017-03-22 02:19] rtheunissen commented on #97
I believe that json_encode preserves the ordering of the array. If that is true, then between one server and another, the ordering of `$messages` is not the same. If we can make that ordering consistent, the json encode will be the same on all servers, and the string replacement for `{{ messages }}` won't cause the same effective content to generate two different hashes.

[2017-03-26 10:19] michgeek commented on #89
My solution to that problem is to use the command **without including `Lang.js`**

1. Assuming my output is : `/resources/assets/js/messages.js`

[code]

[code]

2. Create a file in `/resources/assets/js/lang.js`

[code]

3. Now you can use `Lang` wherever you need

[code]

[2017-03-26 10:59] michgeek commented on #63
My solution to that problem is to use the command **without including `Lang.js`**

1. Assuming my output is : `/resources/assets/js/messages.js`

[code]

[code]

2. Create a file in `/resources/assets/js/lang.js`

[code]

3. Now you can use `Lang` wherever you need

[code]

[2017-04-02 01:12] wapacro opened #99 "Laravel 5.4 Pluralization Standard"
Laravel 5.4 introduces the asterisk symbol for defining the infinity of a pluralization string (instead of «Inf») which gets ignored by Lang.js using the Artisan command to generate the lang.js file.

See https://laravel.com/docs/5.4/localization#pluralization

[2017-04-02 21:03] rmariuzzo commented on #99
@wapacro thank you for reporting this issue, can you add it on https://github.com/rmariuzzo/Lang.js to follow this issue from the right repo? Thank you 👍

[2017-04-30 21:59] rtheunissen commented on #97
This has been implemented in #98

[2017-05-01 03:19] rmariuzzo commented on #97
@rtheunissen thank you for your support!

[2017-05-01 03:19] #97 closed

[2017-05-19 13:05] josiasmontag commented on #89
Even simpler solution:

Add this filter to Vue:
[code]

Then you can do stuff like this:

[code]
or:
[code]

[2017-05-19 13:30] a-komarev commented on #89
@josiasmontag Awesome! Thanks for the tip!

[2017-05-19 14:06] Daviex opened #100 "Can't get subfolder messages"
Hello.

I'm trying to get some languages texts from a subfolder.
The result message.js is creating the file correctly with the following code:

[code]
I checked over chrome console, and Lang has locale set to "it", so, I tried to do
[code]
but it can't find nothing, in fact that string returns the pattern I wrote.
I'm executing wrongly the query for that string?

I also tried with a non subfolder

[2017-05-19 14:09] rmariuzzo commented on #100
Hey @Daviex! Thanks for filing an issue I will check that issue later on the weekend, as I'm pretty busy with work and the ongoing [ReactEurope](react-europe.org) event.

[2017-05-19 14:19] Daviex commented on #100
Ok @rmariuzzo, thank you. For now I resolved my problem by putting a main file into the lang folder and setting all the texts in there with sub keys, but I would like to use folders :smile: :top:

[2017-05-22 13:22] Daviex commented on #100
Hey @rmariuzzo, did you had anytime to check over this thing?

Thanks

[2017-05-31 13:43] sistemaswebbrasil commented on #89
Testing just like michgeek showed I get to catch the message object with `console.log (Lang)`, but if I try to get some text with `Lang.get ('messages.hello')`, the chrome console returns me: Uncaught TypeError : Lang.get is not a function

[2017-06-13 21:15] iamchristopher commented on #94
@rmariuzzo Should this issue be closed, since it looks like #95 addresses this?

[2017-06-13 21:16] rmariuzzo commented on #94
Good point @iamchristopher! Thank you!

[2017-06-13 21:16] #94 closed

[2017-07-03 15:28] samy opened #101 "Ability to make replacements with uppercase/lowercase patterns"
With Laravel Translator API, we have the ability to convert some replacements patterns letter to uppercase or lowercase.

For example, if you replace `:Exclude` by passing [ exclude => "exclude me" ], you will obtain "Exclude me" (first E is capitalized as in translation pattern).

It should be useful to have it in Laravel-JS-Localization 👍

[2017-07-03 15:52] rmariuzzo commented on #101
I agree, I will keep this issue open here for visibility as we work with it into the right place: https://github.com/rmariuzzo/Lang.js

[2017-07-03 19:25] rmariuzzo commented on #101
Created the issue here: https://github.com/rmariuzzo/Lang.js/issues/47

[2017-07-04 10:51] sadiss opened #102 "getting 500 error"
After following the Instructions I am getting Internal server error on latest laravel 5.4

[2017-07-04 13:33] rmariuzzo commented on #102
@sadiss is this happening in a fresh Laravel installation?

[2017-07-04 18:24] rmariuzzo commented on #101
Hey @samy! I have added that feature and released at: https://github.com/rmariuzzo/Lang.js/releases/tag/v1.1.6 I will update shortly this package with latest Lang.js.

[2017-07-04 21:16] a-komarev commented on #101
@rmariuzzo Thanks!

[2017-07-05 15:25] sadiss commented on #102
I figured is out i was permission error. But i was not able to use translation method in standalone js file. can you do some kind of video tutorial on this package?

[2017-07-05 15:26] rmariuzzo commented on #102
I could, but not immediately. How are you trying to ‘use the translation method in standalone js‘?

[2017-07-05 15:28] sadiss commented on #102
using the Lang.get('messages.home'); in my app.js file

[2017-07-06 05:51] samy commented on #101
Great ! Thanks for reactivity !

[2017-07-11 08:22] Daviex commented on #100
Hey man, did you had time to get a look at this?

Thanks

[2017-07-11 12:18] rmariuzzo commented on #100
Not really, it would be of great help to receive a PR. Will try to check
this over this weekend.

On Jul 11, 2017 04:22, "Davide Iuffrida" <notifications@github.com> wrote:

[2017-07-11 13:21] Daviex commented on #100
Ok thanks.

I tried to look over it, but really cound't find how to make it happen.

[2017-07-11 18:54] rmariuzzo commented on #100
Thanks for your effort. I will have a look very this weekend.

On Jul 11, 2017 09:21, "Davide Iuffrida" <notifications@github.com> wrote:

[2017-08-08 15:01] rmariuzzo commented on #102
@sadiss any stack trace?

[2017-08-08 15:09] rmariuzzo commented on #101
This was released.

[2017-08-08 15:09] #101 closed

[2017-08-08 16:40] sadiss commented on #102
@rmariuzzo No nothing no error shows up but no translation

[2017-08-09 17:07] samsch opened #105 "Using default keyed translations"
It appears that translations in a `resources/lang/en.json` file (used for translations keyed by the default text) are ignored by the generator.

[2017-08-09 17:34] rmariuzzo commented on #105
We don't yet support JSON files yet 😞 . Planning to add for version 1.5.

[2017-08-24 19:35] pyros-endgame opened #107 "Can't translate with currency formatting included"
trying to translate a currency does not work
translating with `$:count CAD` is fine if we are staying with north american currency standards and pass in values like 5.00 but this would be invalid for other places such as france which would need the translation to be return as 5,00 € (comma instead of dot)

[2017-09-16 10:12] fsasvari commented on #100
Any progress on this question ? It would be very nice to put JS translation in separate folder. In localization-hr.php configuration file I have following `messages` array:

[code]

Tried `Lang.get('js.config.key');`, `Lang.get('js/config.key');` and `Lang.get('js:config.key');` but none works.

Thanks in advance and very nice package ;)

[2017-09-16 15:23] rmariuzzo commented on #100
Thanks for adding more details and bumping this issue. I will put it on the
list forget next release.

On Sep 16, 2017 06:12, "Frano Sasvari" <notifications@github.com> wrote:

[2017-09-21 08:49] Daviex commented on #100
Thanks.

Hopes you can find a solution over this, for the time passed I used just a file in the root of the language folder, but a solution would be awesome :)

[2017-09-21 08:53] fsasvari commented on #100
Another "hacky" solution to this is to create folder "lang-js" in "resources" folder.

And then when running npm and webpack mix, you can set source path:

[code]

[2017-09-21 10:14] razvaniacob opened #110 "Can't get it to work! :("
I need help! I'm generating the file via php artisan command and I include the generated js file that has all my messages and the library to my html page. I set the locals but when I try to get the message like so: Lang.get('messages.hello') it can't find the key.

What should I do now?

[2017-09-21 10:38] razvaniacob commented on #110
I created a js fiddle with my code

https://jsfiddle.net/c04h9sn3/

[2017-09-21 10:42] #110 closed

[2017-09-21 10:42] razvaniacob commented on #110
I figure it out!... sorry for this!

[2017-09-21 17:44] rmariuzzo commented on #110
Just noticed it 👍

[2017-10-04 17:53] rmariuzzo commented on #100
I'm really sorry for the long wait. I'm still trying to balance my life after Hodgkin. From the original poster, I was able to get the expected message using:

[code]

That's how it works on Laravel, therefore this work on [Lang.js](https://github.com/rmariuzzo/Lang.js).

However, I will add a test for the `/` case into Lang.js repository.

[2017-10-04 17:53] #100 closed

[2017-10-06 14:30] ameenross commented on #85
I had this problem when I passed the generated js through webpack. I changed it to bypass webpack and just output the js file to the public/ directory. I don't know what about webpack makes it break the file, but it apparently does.

[2017-10-06 14:31] ameenross opened #111 "output directory created without any permissions"
This oneliner can be run in artisan:

[code]

It will yield a directory `zzz` without any permissions. That's because makeDirectory is basically just a wrapper around PHP's mkdir. And the filemode argument passed here is null. Unfortunately Laravel doesn't do anything clever when you pass `null`, and the default mode is only set on the function definition.

This is how the LangJsGenerator also cre

[2017-10-06 16:00] rmariuzzo commented on #111
Thank you mate!

[2017-10-06 16:00] #111 closed

[2017-10-06 16:02] rmariuzzo commented on #85
Interesting @ameenross, we will need to see what webpack does with these files.

[2017-10-06 16:07] ameenross commented on #111
You're welcome :smile:
Thanks for the prompt response

[2017-10-10 10:49] PhPPgAdminBug commented on #89
`window.Lang= require('lang.js');

alert(window.Lang);`

returns
`function(options){
        options = options || {};
        this.locale = options.locale || inferLocale() || defaults.locale;
        this.fallback = options.fallback;
        this.messages = options.messag…
}`

But functions are not avaiable.
alert(window.Lang);`

Returns
`Uncaught TypeError : Lang.get is not a function`

same as a

[2017-10-10 13:16] rmariuzzo commented on #89
Hi @PhPPgAdminBug! Try creating an instance:

[code]

[2017-10-10 16:33] PhPPgAdminBug commented on #89
@rmariuzzo `Uncaught TypeError: window.Lang is not a constructor`

[2017-10-11 05:51] PhPPgAdminBug commented on #89
Figured that
`
window.Lang = require('lang.js/src/lang');
console.log(window.Lang = new Lang({
    messages: document.location.hostname + '/js/messages.js',
}));
`

returns
`Lang {locale: "ru", fallback: undefined, messages: "domain.app/js/messages.js"}`

But:
`window.Lang = require('lang.js/src/lang');
console.log(window.Lang = new Lang({
    messages: document.location.hostname + '/js/messages.j

[2017-10-11 16:53] rmariuzzo commented on #89
@PhPPgAdminBug the `messages` value should not be a path, instead it should the messages.js file contents. Please, double check that.

[2017-10-12 02:29] rmariuzzo commented on #102
I will close this one as we don't have enough information to reproduce the issue.

[2017-10-12 02:29] #102 closed

[2017-10-12 02:30] #99 closed

[2017-10-12 02:31] #92 closed

[2017-10-12 02:34] rmariuzzo commented on #89
The original reported issue will be tracked at: #63

[2017-10-12 02:34] #89 closed

[2017-10-12 02:35] rmariuzzo commented on #85
This issue will be tracked along with: #63

[2017-10-12 02:35] #85 closed

[2017-10-12 02:36] #82 closed

[2017-10-12 02:37] rmariuzzo commented on #82
Closing this issue because I believe that is the developer responsibility to set the default locale on init. Although I closed this issue, I'm open to suggestions.

[2017-10-15 13:41] ERPedersen opened #115 "Localized strings with a dot in their name are unrenderable"
**strings.php**
[code]

[code]

Seems like if my strings are separated by a dot, they are unrenderable

[2017-10-17 13:00] okaufmann commented on #105
Are there any Ideas yet, how ti integrate? I need this and would add a PR.

[2017-10-17 14:52] okaufmann commented on #105
I started with a experimental version here: https://github.com/rmariuzzo/Laravel-JS-Localization/pull/116

[2017-10-23 13:31] aimakun commented on #90
@rmariuzzo Hello, I'm not sure what we need to do about this issue. It's updating composer.json to PHP 5.4+, isn't it?

[2017-10-23 13:52] rmariuzzo commented on #90
@aimakun we need to check at Laravel site what is the minimum PHP requirement for Laravel 4.2 and then see if we need to change something.

[2017-10-23 13:58] aimakun commented on #90
I'm actively working on project that still using Laravel 4.2 and it appeared in composer.lock that require PHP 5.3+. I think just update to same version (>=5.3.0) should works fine.

But for Laravel 5+ it would require PHP 5.5+. Should it be separate tags specific for Laravel 4?

[2017-10-23 14:00] aimakun commented on #90
FYI, Laravel 5.5 and up now require PHP >= 7.0 as described here: https://laravel.com/docs/5.5/installation

[2017-10-23 14:25] rmariuzzo commented on #90
We currently use the same branch/tag for both 4/5 major version. Then we
will need to update our composer.json.

On Oct 23, 2017 10:00, "aimakun" <notifications@github.com> wrote:

[2017-10-23 14:31] aimakun commented on #90
Ah, I forgot that Composer would resolve PHP version based on all dependencies. I think no problem for update project's composer.json anyway. If Laravel or other dependencies required higher PHP version, Composer should update by itself.

[2017-10-23 17:26] #90 closed

[2017-10-23 18:21] rmariuzzo commented on #115
This will be addressed at: https://github.com/rmariuzzo/Lang.js/issues/54

I will keep this issue open until solved at Lang.js and pulled into this repo.

[2017-10-23 20:09] ERPedersen commented on #115
Awesome. Thanks for your feedback :)

[2017-10-24 03:12] rmariuzzo commented on #115
@ERPedersen progress has been made. I'm waiting to support a tricky test, then it will be merged ASAP.

[2017-10-24 17:29] vvatitv opened #118 "Localization folders error [Laravel 5.5]"
Hello,
Sorry for my english, but i have a bug with your generated js.

The problem is that if you have custom folders in your lang folder, this package is not work.
[code]
![Image laravel](https://i.gyazo.com/1e783270a39deb38f0587b50c2129660.png)
I have the folder "**page**" or others.

When i'm generate .JS file, i'm get variables this type:
[code]
![Image var](https://i.gyazo.com/2652393a0fed7c8

[2017-11-02 18:46] ERPedersen commented on #115
Any progress on this yet?

[2017-11-18 18:42] rmariuzzo commented on #115
Sorry for the long wait @ERPedersen and all other devs. This has been published now!

[2017-11-18 18:42] #115 closed

[2017-11-18 18:43] rmariuzzo commented on #118
Can you use the last version 1.4.5 and see if it is fixed?

[2017-11-18 19:06] vvatitv commented on #118
Hello, current version 1.4.6 - not work...

[2017-11-19 17:12] rmariuzzo commented on #118
Thank you for the quick reply, I will investigate. In the other hand, do
you use webpack?

On Nov 18, 2017 15:06, "vvatitv" <notifications@github.com> wrote:

[2017-11-19 17:33] vvatitv commented on #118
![84a50dfb0901013f8318358b2b243734](https://user-images.githubusercontent.com/16290435/32993433-e9aeb740-cd68-11e7-96fb-bf1982929b5e.png)
Hello, no, i'm use gulp ;)

![f9092ccd4444e61c962a3acd3c19f36f](https://user-images.githubusercontent.com/16290435/32993431-e5e48176-cd68-11e7-9a84-7f3f08a7340c.png)

[2017-11-19 19:20] rmariuzzo commented on #118
Ok, I did a tool for webpack. Will take a look at that issue. Also, will check for a gulp plugin that does this.

[2017-11-22 15:34] Daviex opened #119 "Access to empty value into Language Translation return key"
Hey.
Got this problem:
I try to get the message from locale file that has empty value, it can find it but return the key I asked for, while, If I add a space as a value, it give me the result.

I'm doing it wrong?

Thanks

[2017-11-22 15:38] rmariuzzo commented on #119
This should be an issue of rmariuzzo/lang.js. Will check it later.

[2017-11-22 15:52] Daviex commented on #119
Ok thank you

[2017-11-23 04:07] rmariuzzo commented on #119
@Daviex a quick update, this has been fixed in [Lang.js](https://github.com/rmariuzzo/Lang.js). Soon, this tool will be also updated.

[2017-11-23 04:09] #119 closed

[2017-11-23 04:10] rmariuzzo commented on #119
This has been fixed in the latest version ([v1.4.7](https://github.com/rmariuzzo/Laravel-JS-Localization/releases/tag/v1.4.7)).

[2017-11-23 10:51] Daviex commented on #119
Tried, it works, thanks so much!

[2017-12-01 14:45] cat-labs commented on #115
Hi Rubens,

I just noticed another small issue if you are interested in fixing it :-)

**layout.php**

`return [
    'test' => 'this is a test',
    'test.sub' => 'this is a sub test'`

`Lang.get('layout.test'); // Outputs "this is a test"
Lang.get('layout.test.sub'); // Outputs "this is a test"`

This works in Laravel

[2017-12-13 09:12] AliN11 opened #120 "Separate each language folder"
I think it is not possible to separate each language folder.
I don't need Italian language while default locate is set to English and etc.
It could be a big issue if we have many languages and files.

I expect each language folder to be generated in separate file (not all languages in one file). something like this after generation:
[code]
...

[2017-12-13 15:16] rmariuzzo commented on #120
This sound like an interesting improvement for this library. Currently, we generate everything in one single file (unfortunately).

BTW, @AliN11 are you using webpack? If yes, check this: https://github.com/rmariuzzo/laravel-localization-loader/ it may help for you specific case. Otherwise, I will think of a solution for your particular case.

[2017-12-14 08:25] AliN11 commented on #120
Yes I am using Webpack but didn't try given repository 😉.
It could be great if you do something like this in config file:
[code]

[2018-01-06 16:28] maxalmonte14 commented on #105
Is this feature not available yet? This is an indispensable feature for whose working with Laravel 5.4 and above.

[2018-01-06 19:45] rmariuzzo commented on #105
Will take a look and address this soon.

[2018-01-23 09:10] kingvish commented on #120
Another feature or complexity can be like I want to use this with modular project build with https://github.com/nWidart/laravel-modules, There is separate translation folder for each module.

[2018-01-24 20:11] ivolkoff commented on #118
@vvatitv you can try this
[code]
or
[code]
for me it work

[2018-01-25 02:11] vvatitv commented on #118
@ivolkoff
@rmariuzzo

Yes, it works now! Thanks great.

[2018-05-11 05:42] 1dnmr opened #122 "functions should return constant itself when it not defined"
Hello,

This is really critical issue,
If you forget define a constant (or made typo) all js code on the page can't stop working because of error "not found". Functions Lang.get(), Lang.choise() etc should check whether constant is defined and return it if not. Not Error! This is like Laravel trans() and trans_choice() functions works.

Please fix asap.

Thank you

[2018-05-11 14:43] rmariuzzo commented on #122
Hey @1dnmr! Can you add a snippet so I can reproduce. I believe that any key not found, will just restun the same key, instead of throwing an error.

[2018-07-02 04:45] condor5 commented on #120
I think this will definitely be a nice addition, it would bring further consistency with the Laravel Localization API.

[2018-08-03 00:46] chilio opened #127 "Matching laravel current locale in js"
My question is how to most elegantly set current locale in js, based on currently used laravel (backend locale)?
I have tried different solutions like for example setting locale based on headers -  accept language, but it is not working correctly under some circumstances.
Currently I have it working by including view partial on every page:
[code]
but it seems like terrible solution.
Any ideas how

[2018-10-16 05:52] gtlkirit opened #128 "lang.js in Lang._getMessage error Cannot read property 'source' of null"
Hello,

We are facing issue after upgrading Laravel 5.7, can some one please check this issue and try to fix it if possible soon, there is around 1k log error I seen in my sentry account.

Thank in advance.

[2018-10-16 13:31] rmariuzzo commented on #128
Hey there! Right now, I'm a bit busy with GitHub Universe... Can you check
the structure of messages passes on initialization?

On Mon, Oct 15, 2018, 22:52 Kirit Gothi <notifications@github.com> wrote:

[2018-10-16 14:08] gtlkirit commented on #128
Hey,
Thanks for the reply.

Yes, structure is correct with object and have correct key and message for both language,.
Issue not coming every time, but sentry show log multiple.

[2018-10-16 19:13] rmariuzzo commented on #128
The fact that the issue is not coming every time can be tricky. @gtlkirit can you post more detail of the error reported? I'm willing to create a test case to reproduce that particular issue.

[2018-10-17 04:10] gtlkirit commented on #128
Here is screenshot of that error log which is my sentry log.

![2018-10-17_0934](https://user-images.githubusercontent.com/17121399/47061714-59939300-d1f0-11e8-9026-1dc17f640ce5.png)

Error reported in most of all known browser and Windows, IOS and Android Os.

[2019-06-13 17:50] Crazykriz opened #132 "Clear the config cache and get happy"
Hi all,

this is not a classic issue about a bug but more a hint for developers using this localization library. I hope the hint will be useful for all who are getting nuts with a nasty "problem" which encountered me today and took me hours to "solve". It's about the config cache of Laravel which holds a representation of the whole Laravel configuration files to speed up config accessings.

Well,

[2019-06-13 18:41] rmariuzzo commented on #132
I appreciate a lot for sharing this. I could include a note in the readme
file. Also, do you think we can do something better in this package?

On Thu, Jun 13, 2019, 13:50 Crazykriz <notifications@github.com> wrote:

[2019-06-17 09:29] Crazykriz commented on #132
Hi Rubens,

this would be fine if you could add this to the readme file.

Talking about improvements I started to add the package "spatie/laravel-translation-loader" from well-known dev team Spatie. This package puts translations to data base and deals both sources files and data base simultaneuously where the files are used as fallback source then if the translation cannot be found on data base.

[2019-07-07 13:33] Crazykriz commented on #132
Ok, just to get to an end of this topic I recommend to clear the Laravel config cache as often as necessary. When committing stuff I can monitor in my IDE whether the messages.js file is in the list of files to be committed or not. Most times it's not after updating the translations.

So Rubens, if you need a real package improvement, just offer the audience the possibility to flush the config cac

[2019-07-29 08:39] mkosmen opened #133 ""-c" option error"
on this command "php artisan:lang" if i add "-c" option it gives this error :  "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"?

in my laravel version : 5.4
![powershell_iVqleh2uh3](https://user-images.githubusercontent.com/3495912/62033894-a8e20780-b1f5-11e9-8719-3d1d8cdf1e4b.png)

[2019-09-06 06:27] herpaderpaldent opened #135 "Packages not supported?"
As of Laravel 5.5 packages translations are loaded from its ServiceProvider with . `loadTranslationsFrom()` method.
However these translations are not being pulled in the  generated `messages.js`. How would i get this to work?

[2019-09-20 13:20] oltreseba opened #137 "It's not possible to publish asset for Laravel 6.0"
The package seems to work in laravel 6.0, but it's not possible to publish assets.

Probably it's just necessary to add the version check in: https://github.com/rmariuzzo/Laravel-JS-Localization/blob/master/src/Mariuzzo/LaravelJsLocalization/LaravelJsLocalizationServiceProvider.php#L51, since nothing should change from laravel 5.

[2019-09-20 13:59] rmariuzzo commented on #137
Would you be able to create a PR?

On Fri, Sep 20, 2019, 09:20 oltreseba <notifications@github.com> wrote:

[2019-09-23 14:00] oltreseba commented on #137
Pull request created.

[2019-09-24 06:21] marufmax opened #139 "Installation error `vlucas/phpdotenv` version"
Hi, I am using Laravel 5.7

If I do simply composer require i am getting instalation error:

[code]

Laravel 5.7 using  `vlucas/phpdotenv v2.6.1`  if I try to upgrade on my `require-dev` then Laravel made complain.

Thanks

[2019-09-26 21:00] mojtabaahn commented on #105
Hi I noticed an experimental version merged into develop, is it going to be released soon?

[2020-02-18 04:43] indapublic commented on #139
Same with 5.6

[2020-03-05 09:01] hmazter commented on #139
Just a question, why is there a version specified for `vlucas/phpdotenv` here, I can not see any usage of that.

Especially since it blocks usage with Laravel 7.x

[2020-03-05 12:46] rmariuzzo commented on #139
Will need to check that closely. I apologize for not resolving this faster.

[2020-03-06 08:36] NicolasKulka opened #141 "Compatibility Laravel 7"
Hello,

Is it possible to make it compatible in laravel 7?

[2020-03-06 08:38] NicolasKulka commented on #141
Problem with vlucas/phpdotenv

[2020-03-11 01:17] jcorrego commented on #141
Any updates?

[2020-03-11 11:58] rmariuzzo commented on #141
Will check tonight and let you know.

On Tue, Mar 10, 2020, 21:17 Juan Carlos Orrego <notifications@github.com>
wrote:

[2020-03-11 16:21] wsilva94 commented on #141
Hi!
I expect this update!

Thks!

[2020-03-12 08:46] Datalink-Wouter commented on #141
I hope this get merged soon 👍

[2020-03-17 10:09] mitjazeleznikar commented on #141
Any updates on this one?

[2020-03-17 12:16] rmariuzzo commented on #141
Yes, testing are failing. Im thinking on way to simplify tests for L7.

On Tue, Mar 17, 2020, 06:10 Mitja Železnikar <notifications@github.com>
wrote:

[2020-03-23 14:14] mitjazeleznikar commented on #141
Dear @rmariuzzo can you let us know if you are able to support L7... I m using your package in production mode and would like to know if I have to migrate to some other solution. Thank you

[2020-03-24 15:44] Datalink-Wouter commented on #141
Same here

[2020-03-24 20:17] pascalbaljet commented on #141
https://github.com/rmariuzzo/Laravel-JS-Localization/pull/146

[2020-03-27 04:23] rmariuzzo commented on #141
Can you test https://github.com/rmariuzzo/Laravel-JS-Localization/tree/v1.6.0 ?

[2020-03-27 04:23] #141 closed

[2020-04-17 07:47] iffutsius commented on #127
I just had the same problem and as it's not document I'll add the better option here as well.

This package tries to guess language from `<html lang="en">` attribute, unless specifically set separately.

Hope it helps.

[2020-04-21 04:27] TheNewSound commented on #105
I don't know if I understand the problem correctly but maybe #147 is also a fix for this?

[2020-04-21 12:26] samsch commented on #105
My test case (and personal context/knowledge) for this is long gone with a previous job at this point, but maybe someone else who ran into this can verify?

[2020-05-12 19:55] #133 closed

[2020-08-25 09:10] MeRoBo commented on #135
https://github.com/rmariuzzo/Laravel-JS-Localization/pull/149

[2020-08-25 16:00] serflash opened #150 "help in my social is broken music plugin"
I clicked play and did not play, but pressing F12 in the console showed an error.
that is:
Uncaught ReferenceError: lang is not defined
    at enable_pst_btn (<anonymous>:6280:35)
    at HTMLSpanElement.<anonymous> (<anonymous>:4376:115)
    at HTMLSpanElement.dispatch (jquery-3.1.1.min.js?version=3.0.4:3)
    at HTMLSpanElement.q.handle (jquery-3.1.1.min.js?version=3.0.4:3)

is there a solution?

[2020-09-10 07:50] bjorkgard opened #151 "Support for Laravel 8"
It is possible to add support for Laravel 8?

[2020-09-13 22:33] artsur commented on #151
Good question! I try to find solution too..

[2020-09-15 14:58] roldandvg commented on #151
hello, is there an approximate date planned for the support update to laravel 8 ?, thanks

[2020-09-16 03:32] rmariuzzo commented on #151
I'm gonna check that this week. Tomorrow, will invest a couple of mins to check that stack trace. Thank you all! Any extra help appreciated.

[2020-09-16 22:04] mjducharme commented on #151
Is there something wrong with the pull request that was submitted for this?

https://github.com/rmariuzzo/Laravel-JS-Localization/pull/153

[2020-09-16 23:45] rmariuzzo commented on #151
I see it passing, let's merge this!

[2020-09-16 23:47] rmariuzzo commented on #151
Just code reviewed the PR and merged. Will create a new tag.

[2020-09-16 23:56] rmariuzzo commented on #151
New tag/version created: https://github.com/rmariuzzo/Laravel-JS-Localization/releases/tag/v1.7.0 - Please test and let me know how it goes. Thanks for your efforts and patience.

[2020-11-08 17:36] blaab2 commented on #105
Hi everybody, I found out that the keyed translation strings are actually stored in the messages.js file. The only problem is that they are not found properly by `Lang.get`.

A quick fix is to use this snipped.
[code]
and use for example
`myLang.get('Dashboard'),`

[2020-11-29 10:15] asbiin commented on #151
@rmariuzzo  I confirm it's working with Laravel 8, you can close this issue

[2020-11-30 09:07] joantp opened #155 "Laravel 8. Uncaught ReferenceError: Lang is not defined"
I don't know where this error comes from and how to solve it.

I'have added Mariuzzo\LaravelJsLocalization\LaravelJsLocalizationServiceProvider::class in config/app.php and I am able to generate messages.js.

Please help! :)

[2021-02-01 02:41] Daniel-Monroy opened #157 "compiler.plugin is not a function"
In laravel 8 with Inertia, when executing `npm run dev`

<img width="596" alt="Captura de Pantalla 2021-01-31 a la(s) 20 41 12" src="https://user-images.githubusercontent.com/45611570/106408753-ad980500-6404-11eb-856f-5e53c135005c.png">

<img width="566" alt="Captura de Pantalla 2021-01-31 a la(s) 20 39 52" src="https://user-images.githubusercontent.com/45611570/106408759-b38de600-6404-11eb-8117-0

[2021-02-01 04:56] Daniel-Monroy commented on #157
This Plugin [Webpack Shell Plugin Next](https://www.npmjs.com/package/webpack-shell-plugin-next) worked for me.

[2021-03-05 17:15] realtebo commented on #151
Version 1.,7.0 has still the wrong requirements in its composer.json !
Please update composer.json to allow ^8.0

[2021-03-05 17:17] realtebo opened #158 "Request to enable support for PHP 8"
Hi !

We're using this package since v1.2

A big project is now being migrated to PHP 8 and we discovered that v1.7 has a composer.json requirements for php 7.

Could you please extends supports for php 8?

[2021-03-05 17:53] rmariuzzo commented on #151
I apologize for my long reply. I will take a look this week.

On Fri, Mar 5, 2021, 13:15 Mirko Tebaldi <notifications@github.com> wrote:

[2021-03-05 17:54] rmariuzzo commented on #158
Yes, I can do that.

On Fri, Mar 5, 2021, 13:17 Mirko Tebaldi <notifications@github.com> wrote:

[2021-03-06 09:54] GENL commented on #158
I suggest to use Matice: https://github.com/GENL/matice

[2021-03-06 18:15] rmariuzzo commented on #158
Hi @GENL!

I'm happy to include a reference for Matice in the README file of this project.

[2021-03-06 18:15] rmariuzzo commented on #158
@realtebo I'm checking this now.

[2021-03-06 18:26] rmariuzzo commented on #158
Just merged this: #154

[2021-03-06 18:26] #151 closed

[2021-03-06 18:29] rmariuzzo commented on #158
[Just published v1.8.0](https://packagist.org/packages/mariuzzo/laravel-js-localization#v1.8.0)

[2021-03-06 18:32] realtebo commented on #158
Thank  you a lot

[2021-03-06 20:10] rmariuzzo commented on #158
Lmk if it works for you

On Sat, Mar 6, 2021, 14:33 Mirko Tebaldi <notifications@github.com> wrote:

[2021-03-18 11:39] realtebo commented on #158
It works fine with PHP  8 and larevel 8.x, thanks

[2021-03-18 11:39] #158 closed

[2021-03-24 14:07] rmariuzzo commented on #158
Thank you for your feedback @realtebo !

[2021-04-09 09:57] duikb00t commented on #157
I solved it by using this setup:

[code]

No need anymore for Webpack Shell Plugin Next.

[2021-06-01 13:59] zannatul-haque commented on #58
Is this issue closed? I am also getting error.
messages.js?6189:14 Uncaught ReferenceError: Lang is not defined
    at eval (messages.js?6189:14)
    at eval (messages.js?6189:13)
    at Object../public/messages.js (app.js:1106)
    at __webpack_require__ (app.js:1534)
    at eval (CateringTypePrice.vue?811b:24)
    at Module../node_modules/babel-loader/lib/index.js??clonedRuleSet-5.use[0]!./node_

[2021-09-23 13:53] tebeso commented on #155
with the command php:artisan lang:js , it generates a file called messages.js in your public folder (default setting). This file does not only contain your translations, but also lang.js itself. All you have to do is include this into your layout file like this:
<script src="{{ asset('messages.js') }}"></script>
and then use it somewhere in your code like this: Lang.get('whatever.some_key');

[2022-01-18 07:33] geowrgetudor commented on #157
If someone needs some copy-pasta, here you go :)

`const WebpackShellPluginNext = require("webpack-shell-plugin-next");`

`mix.webpackConfig({
    plugins: [
        new WebpackShellPluginNext({
            onBuildStart: {
                scripts: [
                    "php artisan lang:js resources/js/messages.js --quiet",
                ],
                blocking: true,
                paralle

[2022-02-09 12:15] nunodonato opened #163 "Undefined offset error (fresh install)"
Hi
I've just installed this package in a laravel 7 app (php 7.3). All ok, except when I run php artisan lang:js
this is what I get:
[code]
The only thing different in this project is that the vendor folder is outside the main project folder. Not sure if could be related
Any tips?

[2022-02-09 12:38] nunodonato commented on #163
Further digging into it revealed its a problem with a vendor translation that has a .php file mixed with other .json files.
The code that converts the file names to keys is expecting a 4 character extension, and gets confused when it meets the .php file

[2022-02-09 22:33] HadrienX opened #164 "Laravel 9 support"
Laravel 9 was released today.

Please update your package settings to add PHP 8 and Laravel 9 support.

Current error :

[2022-02-10 13:13] ahoiroman commented on #164
Should be solved with https://github.com/rmariuzzo/Laravel-JS-Localization/pull/162

[2022-02-10 20:31] #164 closed

[2022-02-15 05:48] joe94113 commented on #157
@duikb00t Thank，save my day

[2022-02-15 06:52] joe94113 opened #165 "How to use in vue"
In `app.blade.php`
[code]

In `vue`

[code]

[2022-02-15 06:52] #165 closed

[2022-03-02 11:19] emilsrits opened #167 "Versioning on the lang.js file?"
I am having a problem with the outputted JS translations being cached and new texts not getting displayed until browser cache is cleared.

Is it possible to have versioning on lang.js file with Laravel Mix or maybe some other solution to this?

I am compiling it like in docs via webpack shell plugin:

[code]

[2022-03-05 18:41] HadrienX commented on #164
I just found an error on Laravel 9.
The `lang` directory has moved from `/resources/lang` directory to `/lang` directory on fresh install.

In `LaravelJsLocalizationServiceProvider@register` method of this package, the lang directory is defined to :
`$app['path.base'].'/resources/lang'`
on Laravel > 5.

I guess the best way to handle Laravel 9 new language directory is to add a new config variable

[2022-04-30 19:00] Wulfheart commented on #167
@rmariuzzo This might be useful for cache busting.

[2022-06-09 08:25] shinnlu opened #168 "Chrome issue"
Hello, i always developing with Brave browser and it working good with this package.
but i got problem on Chrome Browser
![image](https://user-images.githubusercontent.com/570246/172800397-40cdcc42-0e2d-4b62-9427-c1c02767842c.png)
Left site is Google Chrome, Right side is Brave Browser, as you can see, Google Chrome just return same string i gave.

PS: two browser are visit same url.

[2022-06-09 08:40] shinnlu commented on #168
i just got it fixed
Laravel Lang folder should be case sensitive "zh-tw" not "zh-TW".
![image](https://user-images.githubusercontent.com/570246/172804124-0d3d1959-dedc-45d1-8b4c-8aba1d4a92b7.png)

[2022-06-09 08:40] #168 closed

[2022-06-12 20:05] the-turk commented on #155
any REAL solutions??

[2022-07-13 09:44] Mult1Hunter commented on #155
I fixed this by changing file type to json, and then running `php artisan lang:js --json`

In app.js you have to manually load Lang lib, and set localised json as massages:

`
import Lang from 'lang.js';
import translations from './vue-translations.json'; // path to your json file

let lang = new Lang();
lang.setFallback('en');
lang.setMessages(translations);

// You can optionally set different u

[2022-08-26 12:33] SanderSander opened #171 "V1.9.1 is completely broken"
This commit broke a lot:

https://github.com/rmariuzzo/Laravel-JS-Localization/commit/9e570ee76466cb6529651fd43faf3f33af133e9c

When the default directory is used: The following error is triggered because of a missing `DIRECTORY_SEPERATOR`

[Exception]
/workspaceresources/lang doesn't exists!

Also i'm sure version 4 of laravel doesn't work because the `$langs` variable is overwriten

[2022-08-26 12:41] Chomiciak commented on #171
@SanderSander just a while ago I've created a comment addressing the problem https://github.com/rmariuzzo/Laravel-JS-Localization/pull/170#issuecomment-1228433980

The problem is disappearing slash `/`.
The version should be removed as soon as possible.

[2022-08-26 12:51] rmariuzzo commented on #171
I apologize, will try to remove the version ASAP. 😞

[2022-08-26 12:51] SanderSander commented on #171
https://github.com/rmariuzzo/Laravel-JS-Localization/pull/172

[2022-08-26 12:51] SanderSander commented on #171
I made a PR that fixes the problem

[2022-08-26 12:54] rmariuzzo commented on #171
I removed the broken version from Packagist, I think that should help for now: https://packagist.org/packages/mariuzzo/laravel-js-localization

[2022-08-26 12:54] rmariuzzo commented on #171
I review your PR, looks fine to me. @SanderSander and @Chomiciak can you check the PR too? 🙇

[2022-08-26 13:13] Chomiciak commented on #171
@rmariuzzo
Thank you very much for your fast response :)

I suppose you should give the version a different tag on packagist, to ensure people re-download this patched version.

Over all, this is a feature addition, so shouldn't it be updated on the 2nd digit (`1.10`/`1.10.0`), not the 3rd (`1.9.1`)? Generally most packages reserve 3rd digit for patches.

[2022-08-26 13:20] SanderSander commented on #171
I made the same suggestion of versioning in the PR :)

[2022-08-26 14:10] rmariuzzo commented on #171
Thank you both for your good advices. I appreciate it.

[2022-10-11 08:00] rmariuzzo commented on #168
Interesting, will check that out

On Thu, Jun 9, 2022, 4:41 AM shinnlu ***@***.***> wrote:

[2022-10-20 07:45] fatihdurmaz opened #173 "Exception resources/lang doesn't exists!"
Hi, Laravel 9  use default language folder lang. but composer error
Exception /Users/fatihdurmaz/Sites/yuumawebapp/**resources/lang** doesn't exists!

[2022-10-20 08:25] fatihdurmaz commented on #173
I solved:
LaravelJsLocalizationServiceProvider -> Line 75 edit /resources/lang to /lang

[2022-11-09 15:04] Ycfx commented on #173
@fatihdurmaz Or you can just move your lang folder to the resources folder, since both are accepted on Laravel 9

[2022-11-15 22:05] AbdoulBaguiM commented on #155
@Mult1Hunter How can I implement your solution with React ?